form {
    display: none;
  }

  h1 {
    display: none;
  }

  nav {
    display: none;
  }

  .fc th,
  .fc td,
  .fc hr,
  .fc thead,
  .fc tbody,
  .fc-row {
    border-color: #24242465 !important;
    background: #fff !important; 
  }

 