h2 {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}
.body {
    background-image: url(/static/images/splash-background.jpeg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}


/* Begin Flash Messages */
.negative {
    color: red;
    font-size: 3rem;
}
.positive {
    color: green;
    font-size: 3rem;
}
/* End Flash Messages */

/* Begin Popup Style */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 240px;
    background-color: rgba(75, 75, 75, 0.952);
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -35%;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.911) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* End Popup Style */

/* Begin About Button Style */
.about-button {
  height: 36px;
  width: 146px;
  border: 0;
  outline: 0;
  text-align: center;
  background: #B86D52;
  border: 2px solid black;
  border-radius: 12px;
  font-family: 'Georgia';
  font-size: 22px;
  font-weight: 750;
  color: #000;
  transition: 300ms;
}

.about-button:hover {
  color: #fff;
  font-weight: 750;
}


/* End About Button Style */

/* Begin Splash Buttons - except 'About' */

.all-buttons {
    width: 300px;
    margin: auto;
  }

.button-wrapper {
    margin: 20px 0 0 75px;
    position: relative;
    display: inline-block;
  }

.button5 {
    height: 40px;
    width: 150px;
    border: 0;
    outline: 0;
    background: #B86D52;
    border: 2px solid black;
    border-radius: 12px;
    font-family: 'Georgia';
    font-size: 22px;
    font-weight: 750;
    color: #000;
    transition: 300ms;
    opacity: 1;
    }

.button5:hover {
    color: #fff;
    font-weight: 750;
    opacity: 1;
    }
  
  /* End Splash Button */

  
  /*  login form  */

  .form-wrap {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(75, 75, 75, 0.788)

  }

  .control-label {
      color: #fff;
  }

  .form-inner {
      padding: 5%;
  }

  .form-control {
      margin-left: 10%;
  }

  .login-button {
      margin-left: 11%;
  }

  #signup-link {
      margin-left: 20%;
      color: #000;
  }

  #login-title {
      color: #000;
      font-size: 28px;
      margin-left: 38%;
  }



  





