<!doctype html>
<html>
    <head>
        <title>Plan:Eat</title>
        <style type="text/css">
            
            h2 {
                text-align: center;
                color: white;
                font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
            }
            .body {
                background-color: cornflowerblue;
            }
            
        </style>


    </head>

    <body class="body">


        {% block content %}
        {% endblock %}

    </body>
</html>