{% extends 'cal-base.html' %}


{% block content %}

<h1>Hey {{ username }}, this page is Under Construction</h1>
<p>this is a test for calendar by date object</p>

<!DOCTYPE html>
<!--  calendar -->
<html>
<body>

<TABLE BORDER=3 CELLSPACING=3 CELLPADDING=3> 
<TR>
<TD COLSPAN="7" ALIGN=center><B>December 2001</B></TD> 
</TR>
<TR> 
<TD COLSPAN="7" ALIGN=center><I>Another year comes to an end</I></TD>
</TR>

<TR> 
<TD ALIGN=center>Sun</TD>
<TD ALIGN=center>Mon</TD>
<TD ALIGN=center>Tue</TD>
<TD ALIGN=center>Wed</TD>
<TD ALIGN=center>Thu</TD>
<TD ALIGN=center>Fri</TD>
<TD ALIGN=center>Sat</TD>
</TR>

<TR> 
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center>1
	<!-- {# <form action="/add-meal/{{ calendar.id }}" method="post"></form> #}-->
	<form action="/add-meal" method="post"></form>
    <select>
		<option value="tuna casserole">tuna casserole</option>
		<option value="pancakes">pancakes</option>
		<option value="cereal">cereal</option>
		<option value="biscuits">biscuits</option>
	</select>
</br>
	<input type="submit" value="That's for dinner!"/>
	<p><a href="https://www.w3schools.com/html/">requirements</a>
</TD>
</TR>

<TR> 
<TD ALIGN=center>2
	<select>
		<option value="eggs">eggs</option>
		<option value="pancakes">pancakes</option>
		<option value="cereal">cereal</option>
		<option value="biscuits">biscuits</option>
	</select>
	<p><a href="https://www.w3schools.com/html/">requirements</a>
</TD>
<TD ALIGN=center>3
	<select>
		<option value="eggs">eggs</option>
		<option value="pancakes">pancakes</option>
		<option value="cereal">cereal</option>
		<option value="biscuits">biscuits</option>
	</select>
	<p><a href="https://www.w3schools.com/html/">requirements</a>
</TD>
<TD ALIGN=center>4
	<select>
		<option value="eggs">eggs</option>
		<option value="pancakes">pancakes</option>
		<option value="cereal">cereal</option>
		<option value="biscuits">biscuits</option>
	</select>
	<p><a href="https://www.w3schools.com/html/">requirements</a>
</TD>
<TD ALIGN=center>5</TD>
<TD ALIGN=center>6</TD>
<TD ALIGN=center>7</TD>
<TD ALIGN=center>8</TD>
</TR>

<TR> 
<TD ALIGN=center>9</TD>
<TD ALIGN=center>10</TD>
<TD ALIGN=center>11</TD>
<TD ALIGN=center>12</TD>
<TD ALIGN=center>13</TD>
<TD ALIGN=center>14</TD>
<TD ALIGN=center>15</TD>
</TR>

<TR> 
<TD ALIGN=center>16</TD>
<TD ALIGN=center>17</TD>
<TD ALIGN=center>18</TD>
<TD ALIGN=center>19</TD>
<TD ALIGN=center>20</TD>
<TD ALIGN=center>21</TD>
<TD ALIGN=center>22</TD>
</TR>

<TR> 
<TD ALIGN=center>23</TD>
<TD ALIGN=center>24</TD>
<TD ALIGN=center>25</TD>
<TD ALIGN=center>26</TD>
<TD ALIGN=center>27</TD>
<TD ALIGN=center>28</TD>
<TD ALIGN=center>29</TD>
</TR>

<TR> 
<TD ALIGN=center>30</TD>
<TD ALIGN=center>31</TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>

</TR>

</TABLE>

<!-- javascript -->
<!-- popup -->




<h2>JavaScript Prompt</h2>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
    var txt;
    var person = prompt("Please enter your name:", "Harry Potter");
    if (person == null || person == "") {
        txt = "User cancelled the prompt.";
    } else {
        txt = "Hello " + person + "! How are you today?";
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>

</body>
</html>


{{ cal | safe }}

{% if username %}
    <div>
        <div class="all-buttons">
            <div class="button-wrapper">
			<a href="/search"><input class="button5" type="button" name="button5" value="Search"/></a>
			<a href="/recipe-index"><input class="button5" type="button" name="button5" value="Recipes"/></a>
          </div>
        </div>
    </div>
{% endif %}

{% endblock %}