{% extends 'base.html' %}


{% block content %}

<h1>Hey {{ username }}, this page is Under Construction</h1>
<p>this is a test for calendar by date object</p>

{{ cal | safe }}

{% if username %}
    <div>
        <div class="all-buttons">
            <div class="button-wrapper">
			<a href="/search"><input class="button5" type="button" name="button5" value="Search"/></a>
			<a href="/recipe-index"><input class="button5" type="button" name="button5" value="Recipes"/></a>
          </div>
        </div>
    </div>
{% endif %}

{% endblock %}