{% extends 'cal-base.html' %}


{% block content %}
<!-- <!DOCTYPE html> -->
<html>
<head>
<meta charset='utf-8' />
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar-edit.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>-->
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='pop-up.js') }}"></script>

<style>
	body {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}
	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#calendar {
		max-width: 900px;
		margin: 40px auto;
		padding: 0 10px;
	}
	h1 {
		text-align: center;
		color: yellowgreen;
	}
</style>
</head>
<body>

	{% if calendar_shown %}
		<h1>{{ calendar_shown }}'s calendar.</h1>
	{% else %}
		<h1>{{ user.username }}'s calendar.</h1>
	{% endif %}

	<div id='calendar'></div>

	<button class="printBtn hidden-print">Print</button>

	<script type="text/javascript">
		$('.printBtn').on('click', function (){
			window.print();
		});
	</script>

	<div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="modal-body" id="getCode" style="overflow-x: scroll;">
					//ajax success content here.
				</div>
			</div>
		</div>
	</div>



	<script>
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				eventClick:  function(event, jsEvent, view) {
					recipe_name = event.title;
					recipe_name = {"recipe_name":recipe_name}
					getRecipeId(recipe_name);
					
				},
				// TODO javascript datetime.today() ?
				defaultDate: '2018-03-12',
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: {
					
					url: 'data',
					error: function() {
						$('#script-warning').show();
					}
				},
				loading: function(bool) {
					$('#loading').toggle(bool);
				}
			});
		});
	
	
		function getRecipeId(recipe_name) {
			alert(recipe_name)
			
			console.log(recipe_name)
			$.ajax({
				url: '/modal-recipe',
				data: recipe_name,
				// contentType: application/json,
				type: 'POST',
				success: function(response){
					console.log(response);
					jQuery("#getCodeModal").modal("toggle");
					jQuery("#getCode").html(response);
					console.log(response, "ok get the data!!!!!");
				},
				error: function(error){
					console.log(error);
				}
			});
			// var url = "localhost:5000/recipe/" + number;
			// window.parent.location.href = url;
		}
		
		
	</script>



	<h1>Hey {{ user.username }}</h1>
	<div id='script-warning'>
		Error getting data from <code>/data</code> endpoint.
	</div>
	
	<div id='loading'>loading...</div>



		<!-- Button trigger modal -->
	<button class="btn" data-toggle="modal" data-target="#createRecipeModal">
		Create Recipe
	</button>

	<!-- Modal -->
	<div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" 
					data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Create Recipe
					</h4>
				</div>
				
				<!-- Modal Body -->
				<div class="modal-body">
					
					<form class="form-horizontal" action="{{ url_for('save_recipe') }}" method="post" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label"
								for="inputEmail3">Name</label>
						<div class="col-sm-10">
							<input name="name" type="text" class="form-control" 
							id="inputEmail3" placeholder="Name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							for="inputPassword3" >Time</label>
						<div class="col-sm-10">
							<input name="time" type="text" class="form-control"
								id="inputPassword3" placeholder="Minutes"/>
						</div>
					</div>
					<div class="form-group">
							<label  class="col-sm-2 control-label"
									for="inputEmail3">Ingredients</label>
							<div class="col-sm-10">
								<textarea name="ingredients" type="text" class="form-control" 
								id="inputEmail3" placeholder="Ingredients"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"
								for="inputPassword3" >Instructions</label>
							<div class="col-sm-10">
								<textarea name="instructions" type="text" class="form-control"
									id="inputPassword3" placeholder="Instructions"></textarea>
							</div>
						</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Create</button>
						</div>
					</div>
					</form>        
				</div>
				
			</div>
		</div>
	</div>


	<form  action="/full-calendar" method="post" role="form">
		<h2 class="dinner">Schedule a dinner: </h2>
		<!-- TODO use script to get todays date for place holder -->
		<input type="text" name="date" class="form-control" placeholder="2018-03-05">
		<input type="text" name="meal" class="form-control" placeholder="What's for dinner?">
		<!-- <input type="password" name="password" class="form-control" placeholder="Password" required> -->
		<input type="submit" id="submit" value="Dinner!"/>
		<!-- <button class="btn btn-lg btn-primary btn-block" type="button">When? </button> -->
    </form>
    
    <form action="/recipe-index" method="get">
    <input type="submit" id="recipe-index" value="Recipes"/>
    </form>

    <form action="/search" method="get">
    <input type="submit" id="search" value="Search"/>
    </form>

    <form action="/ingredients" method="get">
        <input type="submit" id="ingredients" value="Ingredients Needed"/>
	</form>
	
	<form action="/other-calendars" method="post">
		<p>Would you like to view your friends calendars?</p>
		<select name="other_cal_view">
		{% for user in other_users %}
		<option value="{{ user.username }}">{{ user.username }}'s calendar</option>
		{% endfor %}
			</select>
		<input type="submit" id="other_cal" value="Let's see"/>
	</form>

	{% if not no_remove %}
	<form action="/remove-meal" method="post">
	<!-- {#<form action="{{ url_for('delete_meal_event', event_id=event.id) }}" method="post"> #} -->
		<p>Would you like to cancel your plans?</p>
		<select name="dinner_to_remove">
			{% for event in events %}
			<option value="{{ event.id }}">{{ event.date }}</option>
			{% endfor %}
		</select>
		<input type="submit" id="remove" value="REMOVE"/>
	</form>
	{% endif %}


	</body>
	

{% endblock %}