{% extends 'base.html' %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}



<div class="container" id="form-container">

    <div class="form-wrap">
        <div class="form-inner">
            <p id="login-title">Login</p>
        
            <form action="/login" method="post" class="form-horizontal" name="login">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">          
                        <input type="password" class="form-control" id="pwd" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="form-group">        
                    <div class="login-button">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <span id="signup-link">No account? Sign up <a href="/sign-up">here</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div> 

</div>  
{% endblock %}