{% extends 'base.html' %}


{% block content %}
<h1>Log on in!</h1>
<p>If you don't have an account, you may <a href="/sign-up">sign on up</a> for one, it's free and it shows!</p>
<p>Start planning your meals today!</p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ name }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>

{% endblock %}