{% extends 'base.html' %}


{% block content %}

<div id="background"></div>

<h1>{{ recipe.name }}</h1>
<p>======================</p>
{% if recipe.time <= 60 %}
    <h3>Estimated time: <em>{{ recipe.time }} minutes</em></h3>
{% else %}
    {% set recipe_hour = recipe.time//60 %}
    {% set recipe_mins = recipe.time%60 %}
    {% if not recipe_mins %}
        <h3>Estimated time: <em>{{ recipe_hour }} hours</em></h3>
    {% else %}
        <h3>Estimated time: <em>{{ recipe_hour }} hours : {{ recipe_mins }} minutes</em></h3>
    {% endif %}
{% endif %}


<!-- {# <h3>{{ recipe.ingredients }}</h3> #}-->
{% for ingredient in ingredients %}
<ul>
    <!-- {# {% if ingredient not in [',', '.'] %} #} -->
    <!-- TODO find way to ignore standalone comas -->
    <li>{{ ingredient }}</li>
    <!--{#  {% endif %}  #}-->
</ul>
{% endfor %}
<p>INSTRUCTIONS</p>
<h3>{{ recipe.instructions }}</h3>


{% endblock %}