{% extends 'base.html' %}


{% block content %}



{% if button_flag %}
    <div class="button-wrapper">
        <a href="/full-calendar"><input class="button5" type="button" name="button5" value="Calendar"/></a>
    </div>
{% endif %}




<div id="background"></div>

<!-- Display if not in db -->
{% if new %}
    <form action="{{ url_for('save_recipe') }}" method="post">
        <input type="hidden" name="name" value="{{ recipe.name }}"/>
        <input type="hidden" name="time" value="{{ recipe.time }}"/>
        <input type="hidden" name="ingredients" value="{{ recipe.ingredients }}"/>
        <input type="hidden" name="instructions" value="{{ recipe.instructions }}"/>
        <input type="submit" class="btn" value="Save Recipe"/>
    </form>
{% endif %}




<div class="container" style="background-color:rgba(10, 10, 10, 0.678); margin-top: 5%; color: white; max-width: 70%;">
    
    {% if not button_flag %}
        <div>
            <button style="float: right;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    {% endif %}

    {% if recipe_date %}
        <!-- remove meal from calendar -->
        <form action="/remove-meal" method="post">
            <input type="hidden" name="dinner_to_remove" value="{{ recipe_date }}">
            <input style="color:black;" type="submit" id="remove" value="REMOVE"/>
        </form>
    {% endif %}

    <div>
        <h1>{{ recipe.name }}</h1>

        <div style="display: inline-block; position: absolute;">
            {% if button_flag %}
                <div style="display: inline-block; position: relative;">
                    <!-- link to calendar page -->
                    <form style="margin-left: 68%; margin-bottom: 1px; color:black;">
                        <a href="/full-calendar"><input class="btn" type="button" name="button5" value="Calendar"/></a>
                    </form>
            
                    <!-- remove meal from cookbook -->
                    <form style="margin-left: 80%; margin-top: -4%; color:black;" action="{{ url_for('delete_recipe') }}" method="post">
                        <input type="hidden" name="id" value="{{ recipe.id }}"/>
                        <input type="submit" class="btn" value="Remove from Cookbook"/>
                    </form>
                </div>
            {% endif %}
        </div>

    </div>


    {% if recipe.time <= 60 %}
        <h3>Estimated time: <em>{{ recipe.time }} minutes</em></h3>
    {% else %}
        {% set recipe_hour = recipe.time//60 %}
        {% set recipe_mins = recipe.time%60 %}
        {% if not recipe_mins %}
            <h3>Estimated time: <em>{{ recipe_hour }} hours</em></h3>
        {% else %}
            <h3>Estimated time: <em>{{ recipe_hour }} hours : {{ recipe_mins }} minutes</em></h3>
        {% endif %}
    {% endif %}


    <h3>Ingredients:</h3>
    {% for ingredient in ingredients %}
    <ul>
        
        <li>{{ ingredient }}</li>
    
    </ul>
    {% endfor %}
    <h3>Instructions:</h3>
    <h3>{{ recipe.instructions }}</h3>

</div>


{% endblock %}