{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 8%;">


<div class="button-wrapper">
    <a href="/full-calendar"><input class="button5" type="button" name="button5" value="Back to Cal"/></a>
  </div>

    
    <div class="form-wrap">
            <div class="form-inner">
            <p id="login-title">Search Recipes</p>
        
            <form action="/search" method="post" class="form-horizontal" name="search">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="search">
                    </div>
                </div>
                <input type="submit" value="Search">
                <span id="signup-link">Meal Calendar <a href="/full-calendar">here</a></span>
            </form>
        </div>
    </div> 



    <!-- Display recipe titles and pictures -->
    <div>
        <ul>
            {% for i in range((recipe_list|length)-1) %}
                <h3>{{ recipe_list['results'][i]['title'] }}</h3>
                <img src="https://spoonacular.com/recipeImages/{{ recipe_list['results'][i]['imageUrls'][0] }}"/>
                <h4><a href="/instructions?id={{ recipe_list['results'][i]['id'] }}">Recipe Instructions</a></h4>
                </br>
            {% endfor %}
        </ul>
    </div>

    <div>
        
        {% if recipe_instructions %}
            <h3>{{ recipe_instructions.get('title') }}</h3>
            <img src="{{ recipe_instructions.get('image') }}"/>
            </br>
            <h4>Ingredients:</h4>
            <ul>
                {% for i in range(recipe_instructions['extendedIngredients']|length) %}
                    <li>{{ recipe_instructions['extendedIngredients'][i]['originalString'] }}</li>
                {% endfor %}
            </ul>
            </br>
            <h4>Recipe Instructions:</h4>
            <p>{{ recipe_instructions.get('instructions') }}</p>
        {% endif %}
                

    </div>
</div>

{% endblock %}