{% extends 'base.html' %}

{% block content %}
<div class="container">

    
    <div class="search-form-wrap">
        <div class="form-inner">
            <p style="text-align: center;" id="search-title">Search Recipes</p>
            <div class="row">
                <form action="/search" method="post" class="form-horizontal" name="search">
                    <div class="form-group col-md-9">
                        <div>
                            <input type="text" class="form-control" name="search">
                        </div>
                    </div>
                    <input class="col-md-3 search-button" type="submit" value="Search">
                </form>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="/full-calendar"><input  style="margin-bottom: 5%;" class="button5" type="button" name="button5" value="Calendar"/></a>
        </div>
    </div> 


    <!-- Display recipe titles and pictures -->
    {% if recipe_list %}
        <div style="padding-top: 5px; background-color:rgba(10, 10, 10, 0.678); margin-top: 5%; color: white;">
            <ul style="margin-left: -40px;">
                {% for result in recipe_list['results'] %}
                    <h3 style="text-align: center;">{{ result['title'] }}</h3>
                    <h4 style="text-align: center;"><a href="/instructions?id={{ result['id'] }}">Recipe Instructions</a></h4>
                    <img id="recipe-img" style="display: block; margin-left: auto; margin-right: auto;" src="https://spoonacular.com/recipeImages/{{ result['imageUrls'][0] }}"/>
                    <br />
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>
        
        {% if recipe_instructions %}
            <h3>{{ recipe_instructions.get('title') }}</h3>
            <img src="{{ recipe_instructions.get('image') }}"/>
            </br>
            <h4>Ingredients:</h4>
            <ul>
                {% for i in range(recipe_instructions['extendedIngredients']|length) %}
                    <li>{{ recipe_instructions['extendedIngredients'][i]['originalString'] }}</li>
                {% endfor %}
            </ul>
            </br>
            <h4>Recipe Instructions:</h4>
            <p>{{ recipe_instructions.get('instructions') }}</p>
        {% endif %}
                

    </div>
</div>

{% endblock %}