{% extends "base.html" %}

{% block content %}



<div class="container" id="form-container">
  <div class="form-wrap">
    <div class="form-inner">
      <p style="text-align:center;" id="login-title">Sign Up!</p>
        
      <form action="/sign-up" method="post" name="signup">
        <div class="form-group">
          <div>
              <input type="text" class="form-control" id="email" placeholder="Enter username" name="username">
          </div>
        </div>
        <div class="form-group">
          <div>
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="form-group">
          <div>          
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="passw">
          </div>
        </div>
        <div class="form-group">
          <div>          
            <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="conf_pass">
          </div>
        </div>       
        <div>
            <button type="submit" class="btn">Submit</button>
            <a id="signup-link" style="float:right; margin-top: 1.5%;" href="/login">Login here!</a>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>



 
{% endblock %}

