{% extends "base.html" %}

{% block content %}


      <div>
        
        <div class="all-buttons">
          <div class="button-wrapper">
            <a href="/login"><input class="button5" type="button" name="button5" value="Login"/></a>
          </div>
          <div class="button-wrapper">
            <a href="/sign-up"><input class="button5" type="button" name="button5" value="Signup"/></a>
          </div>
          <div class="button-wrapper">
            <a href="/search"><input class="button5" type="button" name="button5" value="Search"/></a>
          </div>
        </div>
        
      </div>


{% endblock %}