{% extends "base.html" %}


{% block content %}

<div class="container" id="form-container">

  <div>
    <div class="all-buttons">
      <div class="button-wrapper">
        <a href="/login"><input class="button5" type="button" name="button5" value="Login"/></a>
      </div>
      <div class="button-wrapper">
        <a href="/sign-up"><input class="button5" type="button" name="button5" value="Sign up"/></a>
      </div>
      <div class="popup button-wrapper about-button" onclick="myFunction()"><div id="about-text">About</div>
        <span class="popuptext" id="aboutPopup" style="font-size: 16px;" >Use <em>Plan: Eat</em> to create monthly meal plans!</br>
        <div style="border-bottom: 1px solid white; margin: 4px;"></div>
        To keep this app free</br> the 'search recipe' feature</br> has daily limits.</span>
      </div>
    </div>
  </div>  

</div>

  

  <script>
    // When the user clicks on div, open the popup
    function myFunction() {
        var popup = document.getElementById("aboutPopup");
        popup.classList.toggle("show");
    }
  </script>

{% endblock %}
   
